<configuration>
	<appSettings>
		<add key="BusinessesXmlFilePath" value="Assets\XMLFiles\businesses.xml" />
		<add key="UsersXmlFilePath" value="Assets\XMLFiles\users.xml" />
		<add key="PostsXmlFilePath" value="Assets\XMLFiles\posts.xml" />
		<add key="ReviewsXmlFilePath" value="Assets\XMLFiles\reviews.xml"/>
		<add key="FAQsXmlFilePath" value="Assets\XMLFiles\faqs.xml"/>
    <add key="CommentsXmlFilePath" value="Assets\XMLFiles\comments.xml"/>
	</appSettings>
</configuration>